body {
  margin: 0;
  cursor: default;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f6f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-container {
  /* width: 500px; */
  margin: 0 auto;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 16px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  cursor: none;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
.btn-custom,
.btn {
  font-weight: bold;
  font-size: 18px;
  border: none;
  background-color: #4aaed5;
  color: white;
  padding: 10px 25px;
  border-radius: 3px;
  margin: 10px 0;
  min-width: 200px;
}
.btn-custom.small{
  padding: 5px 10px;
  min-height: 22px;
  min-width: 25px;
}

.btn-custom:hover{
  background-color: #a2d4e9;
}

.btn-custom.disabled{
  background-color: #a2d4e9;
}

.btn-custom.negative{
  background-color: #2a136c;
}
.btn-custom.negative:hover{
  background-color: #a99ec3;
}

textarea,
input[type="text"] {
  border: solid 1px #ccc;
  border-radius: 3px;
  padding: 8px 10px;
}

.main-container label {
  padding-top: 5px;
}

.leaflet-container {

  width: 100%;
  height: 300px;
  position: relative;
  padding: 0px;
  margin: 0px;
  /* width: 100vw; */
  /* height: 100vh; */
}
@media screen and (max-width: 500px) {
  .main-container {
    width: 100%;
  }
}
@media screen and (min-width: 900px) {
  .main-container {
    width: 600px;
  }
}
