.entryContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
  margin-bottom: 20px;
}
h1{
    margin: 30px auto;
}
.accordionCustom {
  background-color: #eeeeee;
  padding: 15px;
}
.accordionCustom .accordionItemCustom {
  margin-top: 5px;
}
.linkIcon {
  margin-right: 15px;
  font-size: 25px;
}
.icono {
  padding-right: 10px;
  width: 40px;
  height: 30px;
}




.cards{
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}