.containerPersonalData {
  margin-top: 15px;
}
.rows {
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  padding: 20px;
  box-sizing: border-box;
  /* height: 40px; */
  border-radius: 5px;
  background-color: #eeeeee;
  color: rgb(71, 71, 71) ;


}

.secondaryLink {
  box-sizing: border-box;
  text-decoration: none;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  /* background: #191919; */
  /* font-family: 'Avenir','Aveniro'; */
  color: #fff;
  border-radius: 5px;
  padding: 18px;
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  border: 0;
  width: 100%;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  outline: none;
  margin-bottom: 10px;
}
.secondaryLink:hover {
  color: #fff;
  /* background: rgba(62, 7, 82,0.9); */
}
.secondaryLinkSpan {
  overflow: hidden;
}
.secondaryLinkIcon {
  margin-right: 15px;
  font-size: 25px;
}

.gridContainer {
  height: 70px;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.gridItem {
  border: 1px solid rgba(255, 255, 255, 0.8);
  color: white;
  text-align: center;
}



.imageContainer {
  height: 100%;
}

.imageContainer,
.containerBtnSave {
  /* background-color: red; */
  width: 100%;
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}
.imgPreview {
  /* */
  width: 100%; 
  height: 180px;
}


.btnSave{
  width: 400px;
  text-align: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .cols {
    margin-top: 10px;
  }
}
@media screen and (min-width: 900px) {
  .main-container {
    width: 900px;
  }
}

.link {
  /* color: #a2d4e9;
  color: #a99ec3; */
  /* color: #2a136c; */
  color: #707071;
  /* color: #1c0261; */
  /* color: #47a9d3;
  color: #4aaed5; */
  font-weight: bolder;
  text-decoration: none;
}
.link:hover {
  /* color: #a99ec3;
  color: #707071;
  color: #2a136c; */
  color: #222;
}
.fileInput {
  display: none;
}

.btnEdit {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  height: 100%;
  cursor: pointer;
  font-size: 16px;
}
.btnEdit {
  margin-right: 5px;
  color: #cccc;
}

.btnEdit span {
  font-weight: bold;
  font-size: 22px;
}

.btnEdit:hover {
  color: #222;
}
.iconEdit {
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  cursor: none;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
.btnInfo {
  width: auto;
  height: auto;
  margin-left: 20px;
  margin-top: -10px;
}
.barra {
  height: 35px;}