.profilePictureContainer {
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}


.profilePicture {
  border-radius: 50%;
  width: 125px;
  height: 125px;
  box-sizing: border-box;
  border: 3px solid #4aaed5;
  background-color: white;
}
.profilePictureImg {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}





.containerPersonalData {
  margin-top: 15px;
}
.rows {
  display: flex;

  align-items: center;
  margin: auto;
  margin-top: 10px;
  padding: 20px;
  box-sizing: border-box;
  /* height: 40px; */
  border-radius: 5px;
  background-color: #eeeeee;
}

@media screen and (max-width: 768px) {
  .cols {
    margin-top: 10px;
  }
}
@media screen and (min-width: 900px) {
  .main-container {
    width: 600px;
  }
}

.link {
  /* color: #a2d4e9;
  color: #a99ec3; */
  /* color: #2a136c; */
  color: #707071;
  /* color: #1c0261; */
  /* color: #47a9d3;
  color: #4aaed5; */
  font-weight: bolder;
  text-decoration: none;
}
.link:hover {
  /* color: #a99ec3;
  color: #707071;
  color: #2a136c; */
  color: #222;
}
.fileInput {
  display: none;
}

.btnEdit {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  height: 100%;
  cursor: pointer;
  font-size: 16px;
}
.btnEdit {
  margin-right: 5px;
  color: #cccc;
}

.btnEdit span {
  font-weight: bold;
  font-size: 22px;
}

.btnEdit:hover {
  color: #222;
}
.iconEdit {
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  cursor: none;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
.btnInfo{
  width: auto;
  height: auto;
  margin-left: 20px;
  margin-top: -10px;

}
.barra{
  height: 35px;
}