/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.inputContain {
  position: relative;
}
input {
  width: 275px;
  height: 40px;
  border: 3px solid black;
  border-radius: 16px;
}
input:focus {
  outline: none;
  border-color: #4aaed5;
}
input:focus + .placeholderText .text,
:not(input[value=""]) + .placeholderText .text {
  background-color: white;
  font-size: 14px;
  color: black;
  transform: translate(0, -100%);
}
input:focus + .placeholderText .text {
  border-color: #4aaed5;
  color: #4aaed5;
}
.placeholderText {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 3px solid transparent;
  background-color: transparent;
  pointer-events: none;
  display: flex;
  align-items: center;
  /* background-color: aqua; */
}

.text {
  font-size: 16px;
  padding: 0 8px;
  background-color: transparent;
  transform: translate(0);
  /* color: black; */
  color: rgba(0, 0, 0, 0.54);

  transition: transform 0.15s ease-out, font-size 0.15s ease-out,
    background-color 0.2s ease-out, color 0.15s ease-out;
}

input,
.placeholderText {
  font-size: 14px;
  padding: 0 19px;
}

@media (max-width: 640px) {
  input {
    width: 70px;
  }
}
