.socialIconRow{
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 6px;
    /* padding-bottom: calc(var(--spacing-s)/2); */
    padding-top: 6px;
    /* padding-top: calc(var(--spacing-s)/2); */
}

.socialICon{
    display: flex;
}

.marginLeft{
    margin-left: 12px;
    /* margin-left: var(--spacing-s); */
}
.socialFormControl{

    border: 0;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
    width: 275px;
}

.socialLabel{
    /* color: rgba(0, 0, 0, 0.54); */
    padding: 0;
    font-size: 1rem;
    font-family: 'Poppins', Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1;
    display: block;
    /* transform-origin: top left; */
    top: 0;
    left: 0;
    position: absolute;
    /* transform: translate(0, 24px) scale(1); */
    /* transform: translate(0, 1.5px) scale(0.75); */
    transform-origin: top left;
    transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    z-index: 1;
    /* transform: translate(14px, 20px) scale(1); */
    pointer-events: none;
    color: #1c1c1c;
    transform: translate(14px, -6px) scale(0.75);
}

.socialInputBase{
    color: rgba(0, 0, 0, 0.87);
    cursor: text;
    display: inline-flex;
    /* position: relative; */
    font-size: 1rem;
    box-sizing: border-box;
    align-items: center;
    font-family: 'Poppins', Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.1876em;
    position: relative;
    border-radius: 8px;
    padding-left: 14px;
    overflow: hidden;
    background-color: #ffffff;
}


.socialInputBaseStart{
    height: 0.01em;
    display: flex;
    max-height: 2em;
    align-items: center;
    white-space: nowrap;
    margin-right: 8px;
}

.socialInputBaseStartIcon{
    margin: 0;
    font-size: 1rem;
    font-family: 'Poppins', Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.54);
}

.socialInput{
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
    padding: 18.5px 14px;
}








