.publicLinksContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.publicLinkContainer {
  color: white;
  text-decoration: none;
  display: block;
  padding: 20px;
  /* background-color: #fc9f3a;
  background-color: #a2d4e9;
  background-color: #a99ec3;
  background-color: #2a136c;
  background-color: #1c0261;
  background-color: #47a9d3; */
  background-color: #4aaed5;
  border-radius: 10px;
  font-weight: bold;
}

.publicLinkContainer:hover {
  /* color: white;
  background-color: #e59135; */
  color: #222;
  background-color: #a2d4e9;

}
